$primaryColor: #a83289;
$primaryOverlay: rgba(168, 50, 137, 0.8);

// import Boostrap and custom it
// change the theme
$theme-colors: (
  "primary": $primaryColor,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
//end Bootstrap

.user-img{
  width: 60px;
}

.main-spinner-container{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);


  .main-spinner{
    color: $primaryColor;
    width: 5rem;
    height: 5rem;
  }
}

.repo-item{
  color: $primaryColor;
  font-style: 26px;
  font-weight: bold;
}

.user-detail{
  height: calc( 100vh - 70px );
  overflow-y: scroll;
}

