$primaryColor: #a83289;
$primaryOverlay: rgba(168, 50, 137, 0.8);

// import Boostrap and custom it
// change the theme
$theme-colors: (
  "primary": $primaryColor,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
//end Bootstrap